choice
  prompt "Machine selection"
  help
    OE MACHINE to use during the build.

config MACHINE_IMX6_DHCOM_PDK2
  bool "DH i.MX6 DHCOM PDK2"
  help
    OE MACHINE variable is set to dh-imx6-dhcom-pdk2 .

endchoice

config INCLUDE_EXTRAS_YML
  bool "Build full example dh-image-demo using meta-dhsom-extras layer"
  help
    Include meta-dhsom-extras layer and build full large dh-image-demo
    example image with dhlinux distro, instead of core-image-base with
    nodistro distro, which is the default.

    Note that dh-image-demo is an example image containing a lot of
    features and applications, it is large and requires much longer
    build time.

comment "Inferred and expert settings"

config KAS_BUILD_SYSTEM
  string "KAS build system"
  default "openembedded"
  help
    The build_system that will used. The static kconfig string variable
    KAS_BUILD_SYSTEM defines this value which must be openembedded, oe
    or isar is set.

config KAS_INCLUDE_BSP_YML_FILE
  string "KAS OE MACHINE and BSP layer YML file"
  depends on MACHINE_IMX6_DHCOM_PDK2
  default "dh-imx6-dhcom-pdk2.yml" if MACHINE_IMX6_DHCOM_PDK2

config KAS_INCLUDE_EXTRAS_YML_FILE
  string "KAS Extras layer YML file"
  depends on INCLUDE_EXTRAS_YML
  default "include/common-meta-dhsom-extras.yml"
